<section id="{{ page.menu }}">
    <div class="diamond-container">
        <div class="diamond diamond--{{ page.header.position }} diamond--{{ page.header.size }} previous-diamond--{{ page.header.previous_position }} previous-diamond--{{ page.header.previous_size }} next-diamond--{{ page.header.next_size }} next-diamond--{{ page.header.next_position }}">
            <h2 class="diamond-title">{{ page.title }}</h2>

            {{ content }}

            {% if page.header.newsletter %}
                <form action="{{ page.header.mailchimp_post_url }}"
                      method="post"
                      name="mc-embedded-subscribe-form">
                    <input type="email"
                           required
                           value=""
                           name="EMAIL"
                           placeholder="Adresse email...">
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text"
                               name="{{ page.header.mailchimp_submit_button_name }}"
                               tabindex="-1"
                               value="">
                    </div>
                    <button type="submit" name="subscribe">
                        S'abonner !
                    </button>
                </form>
            {% endif %}

            {% for question in page.header.questions %}
                <h3>{{ question.question }}</h3>
                <p>{{ question.answer }}</p>
            {% endfor %}

            {% for quote in page.header.quotes %}
                <figure class="quote">
                    <blockquote>
                        {{ quote.quote }}
                    </blockquote>
                    <figcaption>{{ quote.author }}</figcaption>
                </figure>
            {% endfor %}
        </div>
    </div>
</section>
