<section id="{{ page.menu }}">
    <div class="diamond">
        <h2>{{ page.title }}</h2>
        {{ content }}
        {% for quote in page.header.quotes %}
        <figure class="quote">
            <blockquote>
                {{ quote.quote }}
            </blockquote>
            <figcaption>{{ quote.author }}</figcaption>
        </figure>
        {% endfor %}
    </div>
</section>
