{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">

<head>
    {% block head %}
        <meta charset="utf-8" />

        <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="google-site-verification" content="{{ theme_config.google_webmaster_tools_id }}" />

        {% block stylesheets %}
            {% do assets.addCss('theme://vendor/Font-Awesome-4.7.0/css/font-awesome.min.css', 99) %}
            {% do assets.addCss('theme://vendor/normalize.css-5.0.0/normalize.css', 98) %}
            {% do assets.addCss('theme://css-compiled/boiteacycler.min.css', 0) %}

            {% if theme_config.background %}
                {% set background =  theme_config.background[theme_config.background|keys[0]] %}
                <style>
                    body {
                        background-image: url('{{ url("theme://assets/" ~ background.name) }}');
                        background-attachment: fixed;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                </style>
            {% endif %}
        {% endblock stylesheets %}


        {{ assets.css() }}

    {% endblock head  %}
</head>
<body>

{% block content %}
{% endblock content %}

{% block scripts %}
    {% do assets.addJs('theme://vendor/moment-2.17.1/min/moment.min.js') %}
    {% do assets.addJs('theme://vendor/moment-2.17.1/locale/fr.js') %}
    {% do assets.addJs('theme://vendor/emailjs-smtp-client-1.0.0/src/emailjs-smtp-client-response-parser.js') %}
    {% do assets.addJs('theme://vendor/emailjs-smtp-client-1.0.0/src/emailjs-smtp-client.js') %}
    {% do assets.addJs('theme://js/nav.js') %}
    {% do assets.addJs('theme://js/calendar.js') %}
{% endblock scripts %}

{{ assets.js() }}

</body>
</html>
