{% extends "partials/base.html.twig" %}

{% block content %}
    <nav>
        <img src="{{ url('theme://images/logo.png') }}"
             alt="La boite à cycler">
        <button>
            <i class="fa fa-hamburger" aria-hidden="true"></i>
        </button>
        <ul>
            <li>
                <a href="#prochain-evenement">Prochain événement</a>
            </li>
            {% for section in page.collection %}
                <li>
                    <a href="#{{ section.menu }}">{{ section.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <header class="modular-home-header"
            {% if page.header.background %}
            {% set background =  page.header.background[page.header.background|keys[0]] %}
            {% set background_url = '/' ~ background.name|url_encode %}
        style="background-image: url('{{ background_url|lower }}')"
            {% endif %}>
        <div class="diamond-container">
            <div class="diamond diamond--large diamond--left next-diamond--small next-diamond--right">
                <a href="/" class="home-link">
                    <img src="{{ url('theme://images/logo.png') }}" alt="La boite à cycler" class="logo">
                </a>
                <h1>
                    {{ theme_config.tagline }}
                </h1>
            </div>

            <div class="diamond diamond--small diamond--right previous-diamond--left previous-diamond--large next-diamond--center next-diamond--small"
                 id="prochain-evenement">
                <div class="event">
                    <em>Prochain événement</em>
                    <h2 class="event-name"></h2>
                    <p>
                        Le <span class="event-date"></span>, <span class="event-location"></span>
                    </p>
                    <p class="event-links">
                        <a href="#" class="event-link event-link--map"><i class="fa fa-fw fa-map-marker"></i>plan</a>
                        <a href="#" class="event-link event-link--calendar"><i class="fa fa-fw fa-calendar"></i>ajouter à mon calendrier</a>
                    </p>
                </div>
                <div class="loading-event">
                    <i class="fa fa-spinner fa-spin"></i>
                    Chargement du prochain événement...
                </div>
                <p>
                    {{ page.header.header_events_call_to_action | markdown }}
                </p>

                <h2>Tous les événements à venir</h2>
                <iframe src="{{ page.header.header_calendar_url }}"
                        width="100%"
                        height="300"
                        frameborder="0"
                        scrolling="no"></iframe>
            </div>
        </div>
    </header>

    {% for subpage in page.collection() %}
        {{ subpage.content }}
    {% endfor %}

    <footer>
        <div class="diamond-container">
            <div class="diamond diamond--large diamond--right previous-diamond--large previous-diamond--left">
                <div class="row">
                    {% for column in theme_config.footer_columns %}
                        <div class="col">
                            {{ column.content | markdown }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </footer>

    <script>
        (function () {
            window.GOOGLE_CALENDAR_ID = '{{ page.header.header_calendar_id }}';
            window.GOOGLE_API_KEY = '{{ page.header.header_google_api_key }}';
        }());
    </script>
{% endblock content %}
